#about {
  background-color: rgb(66, 66, 66);
  height: calc(100vh - 15vh);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  justify-items: center;
  grid-gap: 3vh;
}
.aboutPortrait {
  width: 20vh;
  height: 20vh;
  background-image: url("/Images/Portrait.jpg");
  background-size: cover;
  border: 3px solid rgb(200, 150, 15);
  border-radius: 50%;
}
.aboutWrapper {
  text-align: justify;
  height: 75vh;
  display: grid;
  justify-items: center;
  overflow: scroll;
  grid-gap: 3vh;
}
.aboutWrapper h3 {
  text-align: center;
  padding-bottom: 20px;
}
.aboutTextBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.aboutAnimationBio {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  background-color: rgb(33, 33, 33, 0.7);
  border-bottom: 5px solid rgb(200, 150, 15);
}
.aboutDevBio {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  background-color: rgb(33, 33, 33, 0.7);
  border-bottom: 5px solid rgb(200, 150, 15);
}
.aboutEducationBio {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  background-color: rgb(33, 33, 33, 0.7);
  border-bottom: 5px solid rgb(200, 150, 15);
}
.aboutPhotographyBio {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  background-color: rgb(33, 33, 33, 0.7);
  border-bottom: 5px solid rgb(200, 150, 15);
}
.aboutVideoBio {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  background-color: rgb(33, 33, 33, 0.7);
  border-bottom: 5px solid rgb(200, 150, 15);
}
.social {
  height: 6vh;
}
.aboutWrapper a {
  text-decoration: none;
  color: white;
}
