.contactContainer {
  background: rgb(66, 66, 66);
  max-width: 100%;
  height: 85vh;
  min-height: 475px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10vh;
  color: black;
  overflow: scroll;
}
.company-info {
  background: rgb(200, 150, 15);
  border: 1px solid rgb(200, 150, 15);
  font-size: 1em;
  width: 100%;
  height: 20%;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.company-info > h3,
.company-info > ul {
  list-style: none;
  text-align: center;
}
.contactForm {
  background: rgb(243, 227, 183);
  border: 1px solid rgb(200, 150, 15);
  width: 96%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 0.8em;
}
.letsChat {
  grid-column: 1/3;
  font-size: 1.5em;
  color: rgb(200, 150, 15);
  text-align: center;
  align-self: center;
}
.contactForm input {
  border: 1px solid rgb(200, 150, 15);
  width: 100%;
  height: 40px;
}
.contactForm textarea {
  border: 1px solid rgb(200, 150, 15);
  width: 100%;
  height: 100px;
}
.contactForm button {
  background-color: rgb(200, 150, 15);
  border: 1px solid rgb(200, 150, 15);
  width: 100%;
  height: 2rem;
  font-weight: bold;
}
.contactForm button:hover {
  opacity: 0.5;
}
.full {
  grid-column: 1/3;
}
.req {
  color: red;
}
